<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¿Quiénes somos? - Huellitas</title>
    <link rel="shortcut icon" href="../Static/img/logo1.jpeg" type="image/x-icon">
    <link rel="stylesheet" href="../Static/CSS/Style3.css">
</head>
<body>
    <header>
        <nav>
        <div class="logo">
                <a href="../">
                <img src="../Static/img/logo2.jpg"  width="75" height="75" alt="Logo">
                </a>
          
            </div>
        </nav>        
    </header>

    <main>
        <section id="quienes-somos">
            <div class="container">
                <h1>¿Quiénes somos?</h1>
                <p>Somos una tienda comprometida con el bienestar y felicidad de las mascotas y sus familias. Nos esforzamos por ofrecer una amplia gama de productos de alta calidad para satisfacer las necesidades de tus compañeros peludos.</p>
                <p>Nuestro equipo está formado por amantes de los animales que están aquí para ayudarte y brindarte el mejor servicio posible.</p>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Tienda de utensilios para mascotas</p>
    </footer>
</body>
</html>